/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
}
.container{
	width: 1000px;
	height: 500px;
	background: url(../img/pexels-steve-johnson-1058367.jpg),pink;
	
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: 700px 200px;
}
.container-2{
	width: 100%;
	height: 600px;
	background: url("../img/—Pngtree—geometric golden abstract lines _3554783.png"),url(../img/lWeOGK.gif);
	background-size: 1000px,cover;
	background-attachment: scroll, fixed;
	
}
.container-3{
	margin: 15px 0;
	width: 100%;
	height: 1000px;
	background: url(../img/542-19.png),url(../img/542-36.png),url("../img/iconfinder_7033731_among us_icon_512px.png"),url(../img/lWeOGK.gif);
	background-size: 100px,120px,300px,cover;
	background-repeat:  no-repeat;
	background-position: right bottom, right top,500px center, center;
/*	background-blend-mode: multiply;*/
}